*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

section{
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
}

#particles-js{
    position: relative;
    height: 100vh;
    background:#fff ;
    mix-blend-mode: screen;
}

.text{
    position: absolute;
    z-index: 1;
    color: rgba(29, 4, 4, 0.836);
    font-size: xx-large;
    font-family:'Poppins', sans-serif;
    margin-top: 4%;
    margin-left: 50%;
    transform: translate(-50%);
    font-weight: bold;
    width: 50%;
}

.paragraph{
    color: rgb(38, 0, 255);
    font-size: x-large;
    position: absolute;
    margin-top: 5%;
    /* margin-left: 50%;
    transform: translate(-50%); */
    z-index: 1;
    font-weight: bold;
    font-family: monospace;
}

@media only screen and (max-width: 1000px) {
    .text{
        width: 92%;
    }
}